 - 名称：部署 GitHub Pages 站点
  使用：actions/deploy-pages@v4.0.5
  和：
    # GitHub 令牌
    token：# 默认值为 ${{ github.token }}
    # 超时并取消部署的毫秒数（默认值：10 分钟）
    超时时间：# 可选，默认值为 600000
    # 取消部署前允许的最大状态报告错误数（默认值：10）
    error_count：# 可选，默认值为 10
    # 两次部署状态报告之间的时间间隔（毫秒）（默认值：5 秒）
    reporting_interval: # 可选，默认值为 5000
    # 要部署的工件名称
    artifact_name: # 可选，默认为 github-pages
    # 这是要将拉取请求部署为 GitHub Pages 预览站点吗？（注意：此功能目前仅处于 alpha 测试阶段，尚未向公众开放！）
    预览：# 可选，默认为 false
          
